@page "/todo/home"
@model ToDoDemo.UI.Pages.HomeModel
@{
    ViewData["Title"] = "ToDo list";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.4/css/select.dataTables.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.1/toastr.min.css" rel="stylesheet" media="all">

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a href="javascript:void(0)" class="btn btn-primary" onclick="addRow()">Add New ToDo</a>
        </div>
    </div>

    <table id="todoTable" class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Delete
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.allTodo)
            {
                <tr>
                    <td>
                        <input id="txtName_@item.ID" type="text" value='@item.Name'/>
                    </td>
                    <td>
                        <a class="btn btn-primary" onclick="UpdateToDo('@item.ID')" href="javascript:void(0)">Save</a>
                        
                    </td>
                    <td>
                        <a href="javascript:void(0)" class="btn btn-danger" onclick="DeleteToDoById('@item.ID')" >Delete</a>
                    </td>
                </tr>
            }   
        </tbody>
    </table>

    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/select/1.3.4/js/dataTables.select.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/datetime/1.1.2/js/dataTables.dateTime.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.1/toastr.min.js"></script>

    <script>
        function addRow() {
            $('#todoTable tr:last').after('<tr><td><input id="txtName" type="text" /></td><td><a class="btn btn-primary" href="javascript:void(0)" onclick="CreateToDo()">Save</a></td></tr>');
        }

        function DeleteToDoById(id) {
            var model = {
                ID: id
            };
            $.ajax({
                type: "POST",
                url: "/api/todo/delete",
                data: JSON.stringify(model),
                cache: false,
                contentType: 'application/json',
                processData: false,
                dataType: 'json',
                success: function(response) {
                    toastr.success('Todo deleted successfully.')
                    window.location.reload();
                },
                done: function(response) {
                    toastr.success('Todo deleted successfully.')
                    window.location.reload();
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    console.log(xhr.responseText);
                    console.log(xhr.status);
                    console.log(thrownError);
                }

            })
        }

        function UpdateToDo(id) {
            var model = {
                ID: id,
                Name: $('#txtName_'+ id).val()
            };
            $.ajax({
                type: "POST",
                url: "/api/todo/update",
                data: JSON.stringify(model),
                cache: false,
                contentType: 'application/json',
                processData: false,
                dataType: 'json',
                success: function(response) {
                    toastr.success('Todo updated successfully.')
                    window.location.reload();
                },
                done: function(response) {
                    toastr.success('Todo updated successfully.')
                    window.location.reload();
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    console.log(xhr.responseText);
                    console.log(xhr.status);
                    console.log(thrownError);
                }

            })
        }

        function CreateToDo() {
            var model = {
                Name: $('#txtName').val()
            };

            $.ajax({
                type: "POST",
                url: "/api/todo/create",
                data: JSON.stringify(model),
                cache: false,
                contentType: 'application/json',
                processData: false,
                dataType: 'json',
                success: function(response) {
                    toastr.success('Todo created successfully.')
                    window.location.reload();
                },
                done: function(response) {
                    toastr.success('Todo created successfully.')
                    window.location.reload();
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    console.log(xhr.responseText);
                    console.log(xhr.status);
                    console.log(thrownError);
                }
            })
        }
    </script>
</div>